@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

#warnContainer {
  color: orange;
  width: 40%;
}

.bcolor div {
  border-radius: 7px;
  background: #343a40;
}

.innerdiv-toggles {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
}

.innerdiv {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px
}

.solid-thin {
  color: black;
  border-top: 1px solid;
}

.solid-bold {
  color: black;
  border-top: 2px solid;
}

.margin-lr {
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 15px;
  color: black;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 15px;
  color: black;
}
