@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

#warnContainer {
  width: 40%;
}

.bcolor div {
  border-radius: 7px;
  background: #343a40;
}

.innerdiv-toggles {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
}

.innerdiv {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}

.innerdiv-col3 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 339px;
}

#overlay {
  position: fixed;
  z-index: 1000;
  background-color: #0000009f;
  width: 100%;
  height: 100%;
}

#overlay-inner-alert {
  opacity: 1;
  width: 60%;
  height: 80%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  text-align: center;
}

.solid-thin {
  color: black;
  border-top: 1px solid;
}

.solid-bold {
  color: black;
  border-top: 2px solid;
}

.margin-lr {
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 15px;
  color: black;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 15px;
  color: black;
}
